body {
	background-color:black;
    -webkit-user-select: none;
	color:white;
	cursor:default;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:20px;
	min-width:1000px;
}
/***********The Header***************/
#header{
	position:absolute;
	top:0px;
	left:0px;
	min-width:1000px;
	width:100%;
	height:10em;
	text-align:center;
	font-size:1em;
}

#title{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	font-size:7em;
}

#version{
	position:relative;
	top:-.75em;
	padding-left:15em;
	left:0px;
	right:0px;
	height:1em;
	text-align:center;
	font-size:.3em;
}

#header_fields{
	position:absolute;
	top:8em;
	left:0px;
	min-width:1000px;
	width:100%;
	height:6em;
	text-align:center;
	font-size:1em;
	overflow:hidden;
	visibility:hidden;
}


#scale{
	position:absolute;
	right:15em;
	top:6.2em;
	width:10em;
}

#scale_label{
	position:absolute;
	top:4.3em;
	right:18em;
}

#save{
	font-size:1.5em;
	width:13em;
	white-space: nowrap;
	padding-left:0.5em;
	padding-right:0.5em;
	overflow:hidden;
}

#load_map_container{
	position:absolute;
	height:1.5em;
	line-height:1.5em;
	left:5em;
	right:5em;
}

#load_map_container[placement=initial]{
	top:10em;
	font-size:2em;
	text-align:center;
}


#load_map_select{
	margin-left:3em;
	margin-right:3em;
	position:relative;
}
#load_map_select[placement=initial]{
	top:-.5em;
}

#load_map_button[placement=initial]{
	font-size:0.5em;
	position:relative;
	top:.6em;
}

#load_map_container[placement=final]{
	font-size:1em;
	top:3.5em;
	width:24em;
	text-align:left;
}

#load_map_button[placement=final]{
	font-size:.8em;
	position:relative;
	top:.6em;
	left:-1em;
}

#load_map_select[placement=final]{
	top:-.2em;
	left:-.5em;
}
/***********The Tabs***************/
#tab_container{
	position:absolute;
	left:0px;
	width:100%;
	top:15em;
	height:3em;
	min-width:1000px;
}

div.tab{
	display:inline-block;
	float:left;
	width:6em;
	height:100%;
	background-color:#333333;
	border:1px solid #222222;
	border-bottom:none;
	border-radius:0.5em 0.5em 0em 0em;
	color:white;
	text-align:center;
	line-height:3em;
}

div.tab:first-of-type{
	margin-left:5em;
}

div.tab[state=current]{
	cursor:default;
}
div.tab:hover[state=current]{
	background-color:#333333;
}

div.tab[state=active]{
	background-color:#111111;
	cursor:hand;
}

div.tab:hover[state=active]{
	background-color:#222222;
}

div.tab[state=inactive]{
	color:#222222;
	background-color:#080808;
	cursor:not-allowed;
}

div.tab:hover[state=inactive]{
	background-color:#080808;
}

div.subtab{
	font-size:0.5em;
}
div.subtab:first-of-type{
	margin-left:1em;
}
/***************The Pages**************/
div.page{
	position:absolute;
	left:0px;
	width:100%;
	top:18em;
	height:10em;
	visibility:hidden;
	display:none;
	border-top:1px solid #222222;
	min-width:1000px;
}

/**************Map Blocks Page**********/
#map_size_container{
	position:absolute;
	top:1em;
	height:3em;
	line-height:1.5em;
	width:9em;
	left:16em;
	text-align:left;
}

#hover_info_container{
	position:absolute;
	left:10em;
	top:1em;
	font-size:0.8em;
	margin-left:-4em;
	width:9em;
	height:5em;
	border:1px solid white;
	padding-left:2em;
	padding-right:1em;
	background-color:#222222;
	border-radius:0.2em;
	z-index:99
}

#hover_info_text{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	line-height:2.5em;
}

#hover_info_walkable{
	position:absolute;
	top:3.6em;
}
#hover_info_XY{
	position:absolute;
	top:2.4em;
}
#hover_info_block_XY{
	position:absolute;
	top:1.2em;
}
#hover_info_block_id{
	position:absolute;
	top:0em;
}

#toggle_borders{
	position:absolute;
	left:27em;
	top:1.5em;
	width:8em;
}

#save_new_map_blocks_container{
	position:absolute;
	right:1em;
	top:1.75em;
	height:1.5em;
	width:13em;
	line-height:1.5em;
	visibility:hidden;
	text-align:right;
}

#save_new_map_blocks{
	margin-right:1em;
	position:relative;
	top:.25em;
}

/*************Objects Pages*******************/
#objects_subtab_container{
	position:absolute;
	top:1em;
	left:5em;
	width:600px;
	height:8em;
}

#objects_subtab_list{
	position:absolute;
	left:0px;
	width:100%;
	top:0px;
	height:1.5em;
}

div.objects_subtab{
	width:8em;
}

div.objects_subpage{
	border:1px solid #222222;
	position:absolute;
	left:0px;
	top:3em;
	height:13em;
	width:100%;
	font-size:0.5em;
	display:initial;
}

#map_container[page=objects]{
	top:10em;
	left:5em;
}
/**************Connections Page***************/
#connections_subtab_container{
	position:absolute;
	top:1em;
	left:5em;
	width:500px;
	height:8em;
}

#connections_subtab_list{
	position:absolute;
	left:0px;
	width:100%;
	top:0px;
	height:1.5em;
}

div.connections_subpage{
	border:1px solid #222222;
	position:absolute;
	left:0px;
	top:1.5em;
	height:7.5em;
	width:100%;
	display:initial;
}

#map_connections_container{
	position:absolute;
	top:11em;
	left:5em;
}

#map_connections_wrapper{
	position:absolute;
}

#map_container[page=connections]{
	left:0px;
	top:0px;
}

div.connection_blocks_container{
	border:1px solid white;
	position:absolute;
	visibility:hidden;
	display:none;
}

div.connection_toggle{
	position:absolute;
	top:0.5em;
	left:1em;
}

select.connection_map{
	position:absolute;
	top:1em;
	right:1em;
}

div.connection_map_label{
	position:absolute;
	top:0.75em;
	left:11em;
}

div.connection_size_label{
	position:absolute;
	top:3em;
	left:1em;
}
div.connection_size_plus_minus{
	position:absolute;
	top:4em;
	left:1em;
}

div.connection_offset_label{
	position:absolute;
	top:3em;
	left:10em;
}
div.connection_offset_plus_minus{
	position:absolute;
	top:4em;
	left:10em;
}

div.connection_movement_label{
	position:absolute;
	top:3em;
	right:1em;
}
div.connection_movement_plus_minus{
	position:absolute;
	top:4em;
	right:1em;
}
input.apply_to_other{
	position:absolute;
	top:8.9em;
	left:1em;
}
div.apply_to_other_label{
	position:absolute;
	top:6em;
	left:2.2em;
}
/**************Wild Pokes Page***************/

#current_wild_pokemon_container{
	position:absolute;
	left:5em;
	top:1.5em;
}

#wild_pokemon_selection{
	position:relative;
	top:-0.25em;
	left:0.5em;
}
div.wild_pokemon_container{
	padding:1em;
	position:absolute;
	height:24em;
	left:5em;
	right:5em;
	border-radius:1em;
	border:2px solid #222222;
	text-align:center;
	overflow-x:scroll;
	white-space: nowrap;
}

#grass_pokemon_container{
	top:5em;
	background-color:#3c5441;
}

#grass_pokemon_container::first-line{
	font-size:1.5em;
}

#water_pokemon_container{
	top:32em;
	background-color:#3c5154;
}

#water_pokemon_container::first-line{
	font-size:1.5em;
}

div.wild_pokemon_list{
	display:inline-block;
	height:18.5em;
	width:12em;
	margin:0.5em;
	margin-top:1.5em;
	border:1px solid black;
	border-radius:0.5em;
	text-align:center;
	line-height:1.5em;
}

div.wild_pokemon_list[version=ALL]{
	background-color:black;
}
div.wild_pokemon_list[version=RED]{
	background-color:#4d1d1d;
}
div.wild_pokemon_list[version=BLUE]{
	background-color:#1d2f4d;
}
div.wild_pokemon_list[version=JAPAN]{
	background-color:#1d2f4d;
}
div.wild_pokemon_list[version=GREEN]{
	background-color:#1d4d23;
}
div.wild_pokemon_list[version=YELLOW]{
	background-color:#4d4d1d;
}

input.level,input.catch_rate{
	float:left;
	width:4.5em;
	height:2em;
	margin-left:1em;
	text-align:center;
}

select.pokemon{
	height:2em;
	margin-right:1em;
	float:right;
	width:10.5em;
}


#save_new_wild_pokemon_container{
	position:absolute;
	right:5em;
	top:1.5em;
	height:1.5em;
	width:16em;
	line-height:1.5em;
	visibility:hidden;
	text-align:right;
}

#save_new_wild_pokemon{
	position:relative;
	top:.25em;
}
/**************Tileset Page************/
#current_tileset_container{
	position:absolute;
	left:5em;
	top:1.5em;
}

#tileset_gfx_container{
	position:absolute;
	left:28em;
	top:1.5em;
}

#tileset_location_container{
	position:absolute;
	left:39.5em;
	top:1.5em;
}

#tileset_selection{
	position:relative;
	top:-0.25em;
	left:0.5em;
	width:11em;
}

#tileset_gfx_selection{
	position:relative;
	top:-0.25em;
	left:0.5em;
	width:10em;
}
#tileset_location_selection{
	position:relative;
	top:-0.25em;
	left:0.5em;
	width:8em;
}

#tileset_size_container{
	position:absolute;
	top:1.35em;
	height:1.5em;
	line-height:1.5em;
	width:8em;
	left:18em;
	text-align:left;
}

#toggle_tile_borders{
	position:absolute;
	bottom:1em;
	right:0.5em;
	width:9.5em;
}

#duplicate_block{
	position:absolute;
	bottom:4em;
	right:0.5em;
	width:9.5em;
}

#tileset_map{
	position:absolute;
	background-color:#d25e5e;
	top:25em;
	left:15em;
	border:1px solid white;
	transform:scale(2);
	transform-origin:top left;
}

#tileset_subtab_container{
	position:absolute;
	top:5em;
	left:15em;
	width:700px;
	height:18em;
}

#tileset_subtab_list{
	position:absolute;
	left:0px;
	width:100%;
	top:0px;
	height:1.5em;
}

div.tileset_subpage{
	border:1px solid #222222;
	overflow-y:scroll;
	position:absolute;
	left:0px;
	top:1.5em;
	height:16.5em;
	width:100%;
	display:initial;
}

#edit_block_container{
	position:absolute;
	left:1em;
	top:3.5em;
	transform:scale(2);
	transform-origin:center left;
}

#current_tile_container{
	border:1px solid white;
	position:absolute;
	left:16em;
	top:5.5em;
	transform:scale(2);
	transform-origin:center left;
}
#current_tile_label{
	position:absolute;
	left:16em;
	top:3em;
}
#current_block_id{
	position:absolute;
	left:16em;
	top:1em;
}


#save_new_tileset_blocks_container{
	position:absolute;
	left:1em;
	bottom:1em;
	height:1.5em;
	width:14em;
	line-height:1.5em;
	visibility:hidden;
	text-align:right;
}

#save_new_tileset_blocks{
	margin-right:1em;
	position:relative;
	top:.25em;
}
#save_new_tileset_collision_container,#save_new_tileset_door_tiles_container,#save_new_tileset_warp_tiles_container{
	position:absolute;
	left:-0.5em;
	top:0.5em;
	height:1.5em;
	width:18em;
	line-height:1.5em;
	visibility:hidden;
	text-align:right;
}

#save_new_tileset_collision,#save_new_tileset_door_tiles,#save_new_tileset_warp_tiles{
	position:relative;
	top:.25em;
}

div.tile_list{
	font-size:0.5em;
	position:absolute;
	top:5em;
	left:50%;
	width:250px;
	margin-left:-100px;
	text-align:center;
	transform:scale(2);
	transform-origin:top center;
}

div.separate_tile_list_row{
	padding:1em;
	margin-bottom:1em;
	border:1px solid white;
	border-radius:1em;
}


div.separate_tile_list_container{
	display:inline-block;
	margin-right:2em;
	margin-left:2em;
	padding:0.5em;
	width:50%;
	border:1px solid #101010;
	border-radius:0.5em;
}

div.separate_tile_list_container[state=current]{
	background-color:#404040;
}
div.separate_tile_list_container[state=active]{
	background-color:#101010;
	cursor:hand;
}

div.separate_tile_list_container:hover[state=active]{
	background-color:#181818;
}

div.tile_pairs_list{
	position:absolute;
	top:10em;
	width:24%;
	font-size:0.5em;
	text-align:center;
	transform:scale(2);
}

#water_pairs_tile_list{
	left:1em;
	transform-origin:top left;
}
#land_pairs_tile_list{
	right:1em;
	transform-origin:top right;
}

div.tile_pairs_list_title{
	position:absolute;
	text-align:center;
	width:50%;
	margin-bottom:1em;
	top:2em;
}

#water_pairs_list_title{
	left:0px;
}

#land_pairs_list_title{
	right:0px;
}

div.tile_list_info{
	position:absolute;
	left:0px;
	bottom:2em;
	width:100%;
	text-align:center;
}

div.tileset_list_container{
	display:inline-block;
	width:75%;
	text-align:left;
	float:left;
	margin-left:25%;
	margin-top:5%
}

div.tileset_list_container:first-of-type{
	margin-top:10%;
}
/**************The Inputs**************/
select{
	background-color: #bbbbbb;
	color:black;
	border:none;
	outline:none;
	display:inline-block;
	appearance:none;
	height:2em;
	width:15em;
	border-radius:0.25em;
}

select.direction{
	width:8em;
	transform:scale(0.5);
}

input{
	background-color: #dddddd;
	color:black;
	border:none;
	outline:none;
	display:inline-block;
	appearance:none;
	height:2em;
	width:15em;
	border-radius:0.25em;
}

input:disabled,select:disabled{
	background-color:#d25e5e;
}
input[green=on],select[green=on]{
	background-color:#479f49;
}
input[green=off],select[green=off]{
	background-color:#dddddd;
}

input.bookshelf_text{
	width:4em;
	transform:scale(0.5);
	text-align:center;
}

input[type=checkbox]{
	height:1.5em;
	width:1.5em;
}

input[unique=false]{
	background-color:#d25e5e;
	float:right;
	margin-right:1em;
}

input[unique=true]{
	background-color:#5ed27d;
	float:right;
	margin-right:1em;
}

input.save_new_file{
	margin-right:1em;
}

div.plus_minus{
	display:inline-block;
	height:1em;
	line-height:1em;
	width:1em;
	border-radius:0.2em;
	border:1px solid #222222;
	text-align:center;
	background-color:#444444;
	cursor:hand;
	float:right;
	margin-top:.25em;
}

div.plus_minus:hover{
	background-color:#555555;
}

div.value{
	display:inline-block;
	height:1.5em;
	line-height:1.5em;
	width:2em;
	text-align:center;
	float:right;
	margin-left:0.5em;
	margin-right:0.5em;
}

div.button{
	display:inline-block;
	height:2em;
	line-height:2em;
	width:6em;
	border-radius:0.5em;
	border:1px solid #222222;
	text-align:center;
	overflow:hidden;
}
div.button[state=active]{
	background-color:#444444;
	cursor:hand;
}

div.button:hover[state=active]{
	background-color:#555555;
}

div.button[state=inactive]{
	color:#222222;
	background-color:#080808;
	cursor:not-allowed;
}

div.button:hover[state=inactive]{
	background-color:#080808;
}

/*********Tiles, Blocks, Maps, etc**************/
#tileset_blocks_container{
	background-color:#aaaaaa;
	left:5em;
	position:absolute;
	top:5em;
	bottom:2em;
	border:1px solid #222222;
	border-radius:0.5em;
	text-align:center;
	overflow:hidden;
	z-index:100;
}
#tileset_blocks_container[scale=half]{
	width:54px;
}
#tileset_blocks_container[scale=default]{
	width:96px;
}
#tileset_blocks_container[scale=plus_half]{
	width:138px;
}
#tileset_blocks_container[scale=double]{
	width:180px;
}

#tileset_blocklist_container{
	position:absolute;
	left:0px;
	top:10px;
	bottom:10px;
	overflow-y:scroll;
	text-align:center;
}

#tileset_blocklist_container::-webkit-scrollbar {
	width:8px;
}

#tileset_blocklist_container::-webkit-scrollbar-thumb {
	border-radius:2px;
    background-color: #333333;
}

#tileset_blocklist_container[scale=half]{
	width:44px;
	padding-left:10px;
}
#tileset_blocklist_container[scale=default]{
	width:81px;
	padding-left:15px;
}
#tileset_blocklist_container[scale=plus_half]{
	width:118px;
	padding-left:20px;
}
#tileset_blocklist_container[scale=double]{
	width:155px;
	padding-left:25px;
}

#border_block_container{
	top:15em;
}

div.special_block_container{
	position:absolute;
	width:150px;
	text-align:center;
}

#current_block_container{
	top:5em;
}

#current_block,#border_block{
	float:none;
	border-color:white;
}

div.tile{
	display:inline-block;
	background-color:#d25e5e;
	overflow:hidden;
	float:left;
	height:8px;
	width:8px;
}

div.tile[grid=on][highlight=off]{
	border:1px solid black;
}
div.tile[grid=on][highlight=on]{
	border:1px solid #047800;
}

div.tile[grid=off]{
	border:none;
}

div.tile[scale=half]{
	height:8px;
	width:8px;
}

div.tile[scale=default]{
	height:16px;
	width:16px;
}

div.tile[scale=plus_half]{
	height:24px;
	width:24px;
}

div.tile[scale=double]{
	height:32px;
	width:32px;
}

div.block{
	display:inline-block;
	float:left;
	border-color:black;
	background-color:#d25e5e;
}

div.block[grid=off]{
	border:none;
}

div.block[grid=on]{
	border-width:1px;
	border-style:solid;
}

div.block[type=list]{
	display:inline-block;
	margin-top:2px;
}

div.block[type=map]{
	display:inline-block;
	float:left;
}

div.block[scale=half][tile_grid=off]{
	height:32px;
	width:32px;
}

div.block[scale=half][tile_grid=on]{
	height:40px;
	width:40px;
}

div.block[scale=default][tile_grid=off]{
	height:64px;
	width:64px;
}
div.block[scale=default][tile_grid=on]{
	height:72px;
	width:72px;
}

div.block[scale=plus_half][tile_grid=off]{
	height:96px;
	width:96px;
}
div.block[scale=plus_half][tile_grid=on]{
	height:104px;
	width:104px;
}

div.block[scale=double][tile_grid=off]{
	height:128px;
	width:128px;
}
div.block[scale=double][tile_grid=on]{
	height:136px;
	width:136px;
}

#map_container{
	float:left;
	position:absolute;
	border:1px solid white;
	margin-bottom:2em;
}
#map_container[page=map]{
	top:100px;
}

#map_container[page=map][scale=half]{
	left:344px;
}
#map_container[page=map][scale=default]{
	left:386px;
}
#map_container[page=map][scale=plus_half]{
	left:428px;
}
#map_container[page=map][scale=double]{
	left:470px;
}

/**************The Alert Box***************/
#alert_box_container{
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	z-index:101;
	background-color:white;
	opacity:.9;
	visibility:hidden;
}

#alert_box{
	position:fixed;
	top:50%;
	left:50%;
	height:300px;
	width:500px;
	margin-left:-250px;
	margin-top:-150px;
	z-index:102;
	visibility:hidden;
	background-color:black;
	border-radius:2em;
	border:1px solid white;
}

#alert_box_text{
	position:absolute;
	top:2em;
	left:1em;
	height:200px;
	right:1em;
	line-height:1.5em;
	overflow-y:scroll;
}

div.saving_text{
	font-size:0.75em;
	position:relative;
	left:1em;
	white-space:nowrap;
}

#alert_box_buttons{
	position:absolute;
	bottom:1em;
	height:30px;
	left:0px;
	right:0px;
	text-align:center;
}

div.alert_button{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	background-color:white;
	color:black;
	cursor:hand;
	text-align:center;
	margin-left:0.5em;
	margin-right:0.5em;
}

div.alert_button:hover{
	background-color:#eeeeee;
}